/*This file is for your custom css.  All yours*/
#places-output  {
  display: none;
}

#show-place {
  display: none;
}

.place {
  cursor: pointer;
  color: #0088cc;
}

.place:hover {
  text-decoration: underline;
}
